app = "experiri"
primary_region = "ams"

[http_service]
auto_stop_machines = "stop"
auto_start_machines = true
min_machines_running = 0
force_https = true
internal_port = 8_888
processes = [ "app" ]

[[vm]]
cpu_kind = "shared"
cpus = 1
memory = "1gb"
memory_mb = 1_024
